<nav class="navbar sticky-top navbar-expand-lg my-text">
    <div class="container-fluid">
        <a class="navbar-brand text-white my-title" href="#">Resume Screening System</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link text-white" href="/">Home</a>
                <% if(!currentUser) {%>
                    <% } else if(!currentUser.isAdmin){%>
                        <a class="nav-link text-white" href="/user">Dashboard</a>
                        <a class="nav-link text-white" href="/fill-resume">Fill Resume</a>
                        <a class="nav-link text-white" href="/user/view-resume">View Resume</a>
                        <a class="nav-link text-white" href="/all-companies">Companies</a>
                        <a class="nav-link text-white" href="/feedback">Feedback</a>
                        <% } else { %>
                            <a class="nav-link text-white" href="/admin">Dashboard</a>
                            <a class="nav-link text-white" href="/addcomp">Add Compnay</a>
                            <a class="nav-link text-white" href="/all-companies">Companies</a>
                            <a class="nav-link text-white" href="/admin/view-resumes">Resumes</a>
                            <% }%>
            </div>
        </div>
        <div class="navbar-nav ml-auto">
            <% if(!currentUser) {%>
                <a class="nav-link text-white px-5" href="/login">Login</a>
                <a class="nav-link text-white" href="/register">Register</a>
                <% } else {%>
                    <a class="nav-link text-white" href="/logout">Logout</a>
                    <% } %>
        </div>
    </div>
    </div>
</nav>