<% layout('layouts/boilerplate')%>
    <div class="card border border-warning bg-white text-center text-dark mx-auto mt-5" style="max-width: 40rem;">
        <div class="card-body">
            <h4 class="card-title">Welcome to the Resume Screening System</h4>
            <p class="card-text">Here you can manage and review resumes submitted by the applicants, you can add
                the companies and generate rank.</p>
        </div>
    </div>