<% layout('layouts/boilerplate')%>
    <div class="card bg-info text-center text-white mx-auto mt-5" style="max-width: 40rem;">
        <div class="card-body">
            <h4 class="card-title">Your Feedback</h4>
            <p class="card-text">
                <%= user.feedback %>
            </p>
        </div>
    </div>