<% layout('layouts/boilerplate')%>
    <div class="card bg-white text-center text-dark mx-auto d-flex mt-5" style="max-width: 40rem;">
        <div class="card-body border border-warning align-items-center justify-content-center">
            <h4 class="card-title">Welcome to the Resume Screening System</h4>
            <p class="card-text">Here you can fill, manage and review your resume. Also you can see the companies and
                apply</p>
        </div>
    </div>